language: python

python:
  - "3.7"

matrix:
  fast_finish: true

sudo: false
dist: bionic

addons:
  apt:
    sources:
      - sourceline: 'ppa:maarten-fonville/protobuf'
    packages:
      - libsodium-dev
      - libprotobuf-dev
      - protobuf-compiler

jobs:
  include:
    - name: lints
      install:
        - pip install black
        - pip install pylint
        - pip install mypy
        - pip install --no-binary=protobuf protobuf pysodium requests websocket-client-py3
      script:
        - status=0
        - black --check -l 120 . --exclude=".*_pb2.py"
        - status=$((status + $?))
        - mypy --ignore-missing-imports --disallow-untyped-defs ./exonum_client ./examples
        - status=$((status + $?))
        - pylint exonum_client --max-line-length=120 --disable=fixme,bad-continuation,too-few-public-methods
        - status=$((status + $?))
        - if [ $status != 0 ]; then exit 1; else exit 0; fi
    - name: docs
      install:
        - pip install sphinx
      script:
        - pip install -e .
        - cd docs
        # Build docs to see that the code does not fail:
        - make html
        # Then check that there are no warnings at the build:
        - WARNINGS_COUNT=`make clean > /dev/null && make html | grep warning | wc -l`
        - if [ $WARNINGS_COUNT != 0 ]; then exit 1; fi
    - name: tests
      install: pip install --no-binary=protobuf protobuf pysodium requests websocket-client-py3 codecov
      script: coverage run -m unittest
      after_success:
        - codecov
