[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nanotime = "*"
pysodium = "*"

[dev-packages]
pytest = "*"
ipython = "*"
requests = "*"
tox = "*"
black = "*"
tox-pyenv = "*"

[pipenv]
allow_prereleases = true
