[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nanotime = "*"
pysodium = "*"

[dev-packages]
jedi = "*"
rope = "*"
"autopep8" = "*"
yapf = "*"
"flake8" = "*"
pytest = "*"
ipython = "*"
requests = "*"

[requires]
python_version = "3.6"
